
// set your custom colors here

// text #e8eaeb
//link #a9a9a9

$siteBgColorCustom: #2e3544;
$sidebarBgColorCustom: #FFFFFF;
$textColorCustom: #e8eaeb;
$sidebarTextColorCustom: #a9a9a9;
$headlineColorCustom: #e75b64;
$headingColorCustom: #e75b64;
$bodyLinkColorCustom: #a9a9a9;
$navLinkColorCustom: #e75b64;
$sidebarLinkColorCustom: #a9a9a9;
$footerTextColorCustom: #706E6C;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;
$buttonBgColorCustom: #e75b64;
$buttonHoverBgColorCustom: #a9a9a9;
$borderColorCustom: #B4C0DD;

