
// set your custom colors here
//pink: #e75b64
//dark purple: #2c2857
//light blue: #d4ebf2

//pink colors
$headlineColorCustom: #e75b64;
$headingColorCustom: #e75b64;
$navLinkColorCustom: #e75b64;
$buttonBgColorCustom: #e75b64;

//dark purple
$sidebarTextColorCustom: #2c2857;
$bodyLinkColorCustom: #2c2857;
$sidebarLinkColorCustom: #2c2857;
$buttonHoverBgColorCustom: #2c2857;

//white
$sidebarBgColorCustom: #FFFFFF;
$buttonTextColorCustom: #FFFFFF;
$buttonHoverTextColorCustom: #FFFFFF;

//dark gray
$textColorCustom: #404040; //all non header text
$footerTextColorCustom: #e75b64; //footer

//misc colors
$siteBgColorCustom: #f2f2f1; //background; light gray:
$borderColorCustom: #B4C0DD; //lines and borders; periwinkle
